.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  background: #e5e9f2;
  padding: 0;
  position: relative;
}

.content-cards {
  padding-top: 30px;
  width: 100%;
  padding-left: 28px;
  padding-bottom: 20px;
}

.post-cards {
  margin: 32px;
}

.post-cards .filtr-item {
  width: 23rem !important;
}

.post-cards .card {
  margin: 5px;
  position: relative;
}

.post-cards .card .card-footer span {
  font-size: 10pt;
  color: #6c757d !important;
  padding-top: 5px;
}

.post-cards .card .card-footer {
  background: #fff;
  margin-top: auto;
}

.post-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 144px;
  /* fallback */
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.post-cards .post-card-link {
  text-decoration: none;
}

.content-cards .paginator {
  width: fit-content;
  margin: auto;
}

.content-cards .paginator .page-item > a {
  color: #248aaa;
}

.content-cards .paginator .page-item.active > a {
  background-color: #248aaa;
  color: #f9fafc;
}

.navbar-toggler {
  display: none;
}

/*-------------- Media Queries ---------- */

@media (max-width: 1200px) {
  .content-cards {
    padding-left: 0px;
  }
  .post-cards {
    margin-left: 15px;
  }
  .post-cards .filtr-item {
    width: 22rem !important;
    padding: 3px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100vw;
    padding-left: 15px;
  }
  .content.overley {
    width: 60vw;
    padding-left: 3px;
  }
  .navbar-toggler {
    display: block;
  }
  .content-cards {
    padding-top: 20px;
    width: 100%;
    padding-left: 0px;
  }

  .post-cards {
    margin: 0;
    margin-top: 32px;
  }

  .post-cards .filtr-item {
    margin: 10px;
    width: 47vw !important;
  }

  .post-cards .card {
    max-width: 47vw !important;
  }

  .content.overley .post-cards .filtr-item {
    margin: 10px;
    width: 55vw !important;
  }

  .content.overley .post-cards .card {
    max-width: 55vw !important;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper {
    display: block;
  }
  .content {
    width: 100vw;
    left: 0;
    display: block;
    padding-left: 2vw;
  }

  .content.overley {
    width: 100vw;
    left: 0;
    padding-left: 2vw;
  }

  .content-cards {
    padding-top: 20px;
    padding-left: 0px;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .content.overley .content-cards {
    padding-top: 0px;
    padding-left: 0px;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .post-cards {
    margin: 0;
    margin-top: 32px;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .content.overley .post-cards {
    margin: 0;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .post-cards .filtr-item {
    margin: 0px;
    width: 95vw !important;
  }

  .post-cards .card {
    max-width: 90vw !important;
  }

  .content.overley .post-cards .filtr-item {
    margin: 0px;
    width: 95vw !important;
  }

  .content.overley .post-cards .card {
    max-width: 95vw !important;
  }
}
