.sidebar {
  width: 400px;
  background: #f9fafc;
  min-height: 100vh;
  overflow: auto;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
}

.sidebar.hide {
  position: relative;
  width: 0;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  z-index: -1001;
}

#search-box {
  width: 250px;
  height: 35px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e5e9f2;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  border: 1px solid #c0ccda;
}

#search-box:focus {
  border: 1pt solid #248aaa;
  outline: none;
}

.sidebar-tree {
  margin-left: 2rem;
  margin-top: 2.5rem;
  position: fixed;
}

#list-heading {
  padding-left: 0px !important;
}

.tree,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tree li {
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  color: #3c4858;
  position: relative;
}

.tree li a {
  text-decoration: none;
  color: #131313;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.tree li a:hover {
  margin-left: 3px;
  color: #2098d1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.tree i {
  color: #3c4858;
  font-size: 12px;
  margin-right: 5px;
}

.tree .shift-right {
  margin-left: 5px;
}

.tree .active,
.tree .active > ul {
  display: block;
}

.subtree {
  padding-left: 0.7rem;
}

.subtree:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 6.5rem;
  left: 0.5rem;
  bottom: 0.9rem;
  border-left: 1px solid;
}

.subtree ul,
ul > ul {
  position: relative;
  padding-left: 0.5rem;
  display: none;
}

.subtree ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: -10px;
  left: 0.3rem;
  bottom: 0.9rem;
  border-left: 1px solid;
}

.subtree li:before {
  content: "";
  display: block;
  width: 20px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 18px;
  left: -3px;
}

.subtree li:last-child:before {
  background: #f9fafc;
  height: auto;
  top: 1.1rem;
  bottom: 0;
}

a.focused {
  color: #2098d1 !important;
}

/*-------------- Media Queries ---------- */

@media (max-width: 1200px) {
  .sidebar-tree {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 0;
  }
  .sidebar nav {
    display: none;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
  }
  .sidebar.hide {
    position: relative;
    z-index: 1001;
    width: 40vw;
  }

  .sidebar-tree {
    margin-left: -20rem;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }

  .sidebar.hide .sidebar-tree {
    margin-left: 1.5rem;
    transition: all 0.3s ease-out;
  }
}
@media only screen and (max-width: 576px) {
  #search-box {
    width: 85vw;
    height: 35px;
    padding-left: 5px;
    margin-top: 30px;
  }
  .sidebar {
    position: relative;
    max-height: 0;
    width: 100vw;
    min-height: 0;
    overflow: hidden;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .sidebar-tree {
    position: relative;
  }

  .sidebar.hide {
    position: relative;
    z-index: 1001;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
  }

  .sidebar-tree {
    margin-left: 1.5rem;
  }

  .sidebar.hide .sidebar-tree {
    margin-left: 1.5rem;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }
}
